.reset {
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, p {
    line-height: $line-height;

    font: {
        family: 'Roboto', sans-serif;
        size: $font-size-small;
        weight: 300;
    }
}

a {
    color: $c-dark;
    text-decoration: none;
    cursor: pointer;
}

strong, .strong-font, b {
    font-weight: 500;
}

.wrapper {
    box-sizing: border-box;
    padding: {
        left: $grid-spacing * 2;
        right: $grid-spacing * 2;
    }

    margin : {
        left: auto;
        right: auto;
    }

    max-width: $viewport-small;

    @media (min-width: 1024px) {
        max-width: $viewport-large;
    }
}