.content {
    display: inline-block;
    width: 100%;
    color: $c-light;
    background: {
        color: $c-background-secondary;
        image: url(../images/background-body.png);
        position: top $grid-spacing center;
        size: 100% auto;
        repeat: no-repeat;
    }
}

.section {
    &-title {
        @extend .text-center, .text-uppercase, .font-bold;

        @media (max-width: 1023px) {
            margin : {
                top: $grid-spacing * 3;
                bottom: $grid-spacing * 2;
            }
        }

        @media (min-width: 1024px) {
            font-size: $font-size-large;
            margin : {
                top: $grid-spacing * 6;
                bottom: $grid-spacing * 4;
            }
        }
    }
}

.eventbox {
    @extend .margin-top-xlarge;
}

.event-info {
    &-date {
        display: flex;
        flex-wrap: wrap;

        &--day,
        &--date,
        &--time {
            border-top: 4px solid $c-dark;
            font-size: $font-size + 4;
            line-height: $line-height;
            padding: {
                left: $grid-spacing / 4;
                right: $grid-spacing / 4;
            }

            @media (min-width: 1024px) {
                font-size: $font-size-large;
            }
        }

        &--day {
            flex-grow: 1;
            background-color: $c-dark;
            color: $c-background-secondary;
            font-weight: 900;
            text-align: center;
        }

        &--date {
            flex-grow: 1;
            color: $c-dark;
            font-weight: 700;

            @media (max-width: 1023px) {
                width: 100%;
            }
            
            @media (min-width: 1024px) {
                text-align: center;
            }
        }

        &--time {
            width: 100%;
            color: $c-dark;
            font-weight: 700;
        }
    }

    &-location {
        &--location,
        &--address {
            color: $c-dark;
            border-top: 4px solid $c-dark;
            display: block;
            font-size: $font-size-small;
            line-height: $line-height * 1.25;
            padding: {
                left: $grid-spacing / 4;
                right: $grid-spacing / 4;
            }
        }

        &--address {
            @extend .reset;
            border-bottom: 4px solid $c-dark;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

            li:not(:last-child) {
                &:after {
                    content: "|";
                    margin: 0 $grid-spacing / 4;
                }
            }
        }
    }

    &-link {
        margin-top: $grid-spacing * 1.5;
        display: inline-block;
        color: $c-light !important;
        text-decoration: none;
        border-radius: 4px;
        text-transform: uppercase;

        padding: ($grid-spacing - 10px) ($grid-spacing * 2);
        background-color: #0080C8;
    }
}

.event-description {
    &-title {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: $grid-spacing;

        @media (min-width: 1024px) {
            margin-top: $grid-spacing * -.5;
        }

        @media (max-width: 1023px) {
            margin-top: $grid-spacing !important;
        }
    }
}