.margin {
    margin: {
        top: $grid-spacing;
        bottom: $grid-spacing;
    };

    &-small {
        margin: {
            top: $grid-spacing * .5;
            bottom: $grid-spacing * .5;
        };
    }
    
    &-medium {
        margin: {
            top: $grid-spacing * 2;
            bottom: $grid-spacing * 2;
        };
    }
    
    &-large {
        margin: {
            top: $grid-spacing * 4;
            bottom: $grid-spacing * 4;
        };
    }
    
    &-xlarge {
        margin: {
            top: $grid-spacing * 6;
            bottom: $grid-spacing * 6;
        };
    }

    &-remove.margin-remove {
        margin: {
            top: 0;
            bottom: 0;
        };
    }

    &-top {
        margin-top: $grid-spacing;

        &-small {
            margin-top: $grid-spacing * .5;
        }
        
        &-medium {
            margin-top: $grid-spacing * 2;
        }
        
        &-large {
            margin-top: $grid-spacing * 4;
        }

        &-xlarge {
            margin-top: $grid-spacing * 6;
        }
    }

    &-bottom {
        margin-bottom: $grid-spacing;

        &-small {
            margin-bottom: $grid-spacing * .5;
        }
        
        &-medium {
            margin-bottom: $grid-spacing * 2;
        }
        
        &-large {
            margin-bottom: $grid-spacing * 4;
        }

        &-xlarge {
            margin-bottom: $grid-spacing * 6;
        }
    }
}

// Fonts

.text {
    &-large {
        font-size: $font-size-large;
    }

    &-xlarge {
        font-size: $font-size-xlarge;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-center {
        text-align: center;
    }
}

.font {
    &-bold {
        font-weight: 500;
    }
    
    &-bolder {
        font-weight: 700;
    }
    
    &-boldest {
        font-weight: 900;
    }
}


.hidden-on-large {
    @media (min-width: 1024px) {
        display: none;
    }
}

.hidden-on-small {
    @media (max-width: 1023px) {
        display: none;
    }
}