$grid-spacing           : 20px;

$viewport-large         : $grid-spacing * 58; // = 1080px
$viewport-small         : $grid-spacing * 38; // = 760px

$font-size-small        : 20px;
$font-size              : 24px;
$font-size-large        : 36px;
$font-size-xlarge       : 48px;

$line-height            : 1.5em;

$c-light                : #fff;
$c-medium               : #323232;
$c-dark                 : #000;

$c-background-primary   : $c-light;
$c-background-secondary : #0067B2;

@import "helper";
@import "base";
@import "grid";

@import "intro";
@import "content";

@import "logos";