$grid-spacing           : 20px;
$viewport               : $grid-spacing * 64;

// = 1280px

$font-size              : 24px;
$line-height            : 1.5em;

$c-light                : #fff;
$c-medium               : #323232;
$c-dark                 : #000;

$c-background-primary   : $c-light;
$c-background-secondary : #006AAC;