h4.text-center Co-Initiatoren

nav.logo-nav.margin
    ul.reset
        li(data-href="http://", data-background="images/logo-humanfy.png") innopreneur
        li(data-href="http://", data-background="images/logo-moebelkollektiv-grey.png") Möbel Kollektiv
        li(data-href="http://", data-background="images/logo-design-offices-grey.png") Design Offices
        li(data-href="http://", data-background="images/logo-flixbus-grey.png") Flixbus
        li(data-href="http://", data-background="images/logo-soulfood-grey.png") Soulfood
        li(data-href="http://", data-background="images/logo-dielichtwerber-grey.svg") Lauschner
        li(data-href="http://wuenschedesign.de", data-background="images/logo-wuenschedesign-grey.svg") Wünschedesign