doctype html
html
    head
        meta(charset="utf-8")
        title
            block title

        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="FHE:version" content=VERSION)
        meta(name="FHE:build" content=BUILD)

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i")

        if PROD
            link(rel="stylesheet" href="css/style.min.css")

        if DEV
            link(rel="stylesheet" href="css/style.css")

    body.reset
        block body

        if PROD
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/de.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js")
            script(src="js/default.min.js")

        if DEV
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/de.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js")
            script(src="//localhost:35729/livereload.js")
            script(src="js/default.js")
