extends _template.default.pug

block title
    | New Work Week - Datenschutz

block body
    header.intro
        .wrapper
            h1.intro-logo new-work-week.com
            h2.intro-date
                time(datetime="2018-10-15") 15.
                |&nbsp;&dash;
                time(datetime="2018-10-19") 19. Oktober 2018

            nav.intro-nav.margin-bottom-medium
                ul
                    li: a(href="/index.html#about")
                        | Über die&nbsp;
                        strong New Work Week
                    li: a(href="/index.html#agenda")
                        | Zum&nbsp;
                        strong Programm
        
    main.content
        .wrapper
            section.section
                h2.section-title Datenschutzerklärung

                p New Work Week respektiert, dass Ihnen Ihre persönlichen Daten wichtig sind und schützt Ihre Privatsphäre sowie personenbezogenen Daten.
                p Im Folgenden ist geregelt, welche Daten erhoben werden und zu welchem Zweck dies erfolgt.

                h4.text-uppercase.font-bold 1) Verantwortlicher im Sinne der DSGVO
                p Arthur Soballa, Wiesentalstraße 40, 90419 Nürnberg
                p mobile +49 172 277 91 21 ist Betreiber der Website new-work-week.com.

                p Arthur Soballa ist verantwortlich im Sinne der Datenschutzverordnung.
                p Wenn Sie Fragen betreffs der Verarbeitung Ihrer Daten durch Arthur Soballa haben, richten Sie Ihr Anliegen schriftlich an die obige Adresse oder schreiben Sie eine E-mail an: info@new-work-week.com.

                h4.text-uppercase.font-bold 2) Rechtsgrundlage für die Verarbeitung personenbezogener Daten
                p Alle Daten auf dieser Website werden in Übereinstimmung mit den anwendbaren Datenschutzvorschriften bzw. Datenschutzverordnung (DSGVO) erhoben und verarbeitet.

                p Bei personenenbezogenen Daten handelt es sich um alle Informationen, die sich dazu eignen eine natürliche Person eindeutig zu identifizieren. Hierzu zählen insbesondere Ihr Name, Ihre E-Mail-Adresse sowie Ihre IP-Adresse. (Siehe Art. 4 Abs. 1 DSGVO)
                
                h4.text-uppercase.font-bold 3) Speicherdauer und Löschen von Daten
                p Personenbezogene Daten werden gelöscht, sobald der Zweck der Speicherung entfällt. Darüberhinaus kann eine Speicherung erfolgen, wenn dies durch Gesetzgeber in Verordnungen, Gesetzen oder sonstigen Vorschriften vorgesehen wurde.
                
                h4.text-uppercase.font-bold 4) Daten, die zum Betrieb der Website erhoben werden
                p Sie können die Website new-work-week.com besuchen, ohne Angaben zu Ihrer Person zu machen. Ausgenommen davon sind Daten die der Internetbrowser an die Server des Hosting-Dienstleisters automatisch übermittelt, den Sie verwenden.
                p Diese Daten entstehen auf Grundlage der Auftragsdatenverarbeitung mit dem Hosting-Dienstleister (Siehe Art. 28 DSGVO)
                p Daten die dabei übermittelt werden:

                ul
                    li Ihre IP-Adresse
                    li Datum und Uhrzeit des Abrufs der Website
                    li Der Browsertyp den Sie verwenden (z. B. Firefox, Internet Explorer)
                    li Die Browsereinstellungen
                    li Ihr verwendetes Betriebssystem

                p Diese Daten werden in ServerLogfiles direkt an den Server übermittelt.<br>(Siehe Art. 6 Abs. 1 DSGVO)

                p Die Speicherung dieser Daten erfolgt zeitlich begrenzt und dient dem Provider dazu die Darstellung der Website zu gewährleisten sowie Fehler zu beheben. Es liegt daher ein berechtigtes Interesse in der Nutzung dieser Daten. (Art. 6 Abs. 1 DSGVO)
                p Arthur Soballa verwendet zu keinem Zeitpunkt diese Daten um Rückschlüsse auf Ihre Person zu erhalten.

                h4.text-uppercase.font-bold 5) Cookies
                p Auf der Website werden keine Cookies verwendet

                h4.text-uppercase.font-bold 6) Links zu anderen Websites
                p An manchen Stellen der Website sind Links zu anderen Websites enthalten. Wenn Sie auf einen dieser Links klicken gelangen Sie auf die verlinkte Website. Es gelten die Datenschutzbestimmungen dieser Website.

                h4.text-uppercase.font-bold 7) Daten die Sie an Arthur Soballa zur Teilnahme an den Veranstaltungen senden.
                p Daten, die Sie uns freiwillig mitteilen, werden ebenfalls verarbeitet, zum Beispiel durch Schreiben einer E-Mail sowie bei der persönlichen Übergabe einer Visitenkarte. Diese personenbezogenen Daten werden benötigt, um einen reibungslosen Ablauf der Veranstaltungen zu gewährleisten bzw. die dafür notwendige Kommunikation aufrechtzuerhalten
                p Arthur Soballa gespeichert dafür folgende Daten:

                ul
                    li Ihr vollständiger Name<br>
                    li Ihre E-Mail-Adresse

                p Eine Weitergabe an Dritte erfolgt selbstverständlich nicht. Auch werden diese Daten nicht zu Werbezwecken verarbeitet. Solange eine Kundenbeziehung besteht, werden diese Daten gespeichert. Sie haben jederzeit das Recht Einsicht in diese Daten zu haben, Daten verändern zu lassen oder Daten löschen zu lassen. Siehe dazu Ihre Rechte in den Absätzen weiter unten. Rechtsgrundlage ist Art. 6 Abs. 1 DSGVO.

                h4.text-uppercase.font-bold 8) Daten die an Xing gesendet werden
                p Zum Zweck der erfolgreichen Anmeldung zu den Veranstaltungen, wird das Business Netzwerk Xing verwendet. Hierzu werden folgende Daten an Xing übermittelt:

                ul
                    li Ihr vollständiger Name
                    li Ihre E-Mail-Adresse

                h4.text-uppercase.font-bold 9) Auskunftsrecht als Nutzer der Website
                
                p Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener im Sinne der DSGVO und es stehen Ihnen folgende Rechte gegenüber Arthur Soballa zu.
                p Sie haben jederzeit das Recht Auskunft darüber zu erhalten, ob und welche personenbezogenen Daten von Ihnen gespeichert und verarbeitet werden. Sie haben Recht auf Auskunft der Informationen, zu welchem Zweck sie verarbeitet werden (Rechtsgrundlage) und ob diese Daten an Auftragsdatenverarbeiter übermittelt wurden. Sie haben Recht auf Auskunft über die geplante Dauer der Speicherung dieser Daten, bzw. selbst Kriterien für die Speicherdauer festlegen
                p Sie haben gemäß Art. 7 Abs. 3 DSGVO das Recht, von Ihnen erteilte datenschutzrechtliche Einwilligungserklärungen jederzeit zu widerrufen.
                p Sie haben gemäß Art. 15 DSGVO das Recht zu erfahren, ob und welche personenbezogene Daten von Ihnen verarbeitet werden. Sie können ebenfalls eine Kopie dieser Daten anfordern.
                p Sie haben gemäß Art. 16 DSGVO das Recht, die Berichtigung bzw. Vervollständigung Ihrer personenbezogenen Daten zu verlangen.
                p Sie haben gemäß Art. 17 DSGVO das Recht, die Löschung der Sie betreffenden personenbezogenen Daten zu verlangen.
                p Sie haben gemäß Art. 18 DSGVO das Recht, die Verarbeitung der Sie betreffenden personenbezogenen Daten einzuschränken.
                p Sie haben gemäß Art. 19 DSGVO das Recht, dass die Empfänger (Auftragsdatenverarbeiter) von personenbezogenen Daten darüber informiert werden, wenn Sie einen der oben genannten Artikel in Anspruch genommen haben, damit diese Ihre Daten ebenfalls berichtigen oder löschen, es sei denn dies erweist sich als unmöglich oder mit unverhältnismäßig hohem Aufwand verbunden.
                p Sie haben gemäß Art. 20 DSGVO das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, von uns in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten an andere Verantwortliche zu übermitteln. Sie haben ferner das Recht, zu veranlassen, dass die Sie betreffenden personenbezogenen Daten direkt von uns einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist.
                p Sie haben gemäß Art. 21 DSGVO das Recht, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten Widerspruch einzulegen. Siehe auch Art. 6 Abs. 1 DSGVO.
                p Sie haben gemäß Art. 77 DSGVO das Recht, Beschwerde bei einer Aufsichtsbehörde einzureichen, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
                p Das Recht auf Löschung gilt nicht, soweit die Verarbeitung erforderlich ist zur Erfüllung rechtlicher Verpflichtungen in der Europäischen Union oder seiner Mitgliedstaaten oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt.
                p Siehe Art. 9 Abs. 2 DSGVO sowie Art. 9 Abs. 3 DSGVO

                h4.text-uppercase.font-bold 10) Datensicherheit
                p Arthur Soballa ergreift angemessen Maßnahmen um personenbezogene Daten vor dem Zugriff Dritter zu schützen.

                h4.text-uppercase.font-bold 11) Änderungen dieser Datenschutzbestimmungen
                p Arthur Soballa behält sich das Recht vor, diese Datenschutzbestimmungen jederzeit zu ändern. Die vorliegende Version ist die jeweils aktuell gültige Version der Datenschutzbestimmung.
                p September 2018.

            p.margin-xlarge
                strong Kontakt<br>
                | Arthur P. Soballa<br>
                | c/o Möbelkollektiv GmbH | Wiesentalstraße 40 | Bauteil C | 90419 Nürnberg<br>
                | mobile +49 172 277 91 21 | www.new-work-week.com | <a href="mailto:info@new-work-week.com">info@new-work-week.com</a>

            .text-center.margin-bottom-medium
                img(src="images/logo-ndf-partner-white.svg", alt="NDF", style="width:300px;")



    footer#footer
        .wrapper
            include -logo-nav-bottom

            p.text-center
                a(href="/impressum.html") Impressum
                span &nbsp;|&nbsp;
                a(href="#") Datenschutz