extends _template.default.pug

block title
    | New Work Week

block body
    header.intro
        .wrapper
            h1.intro-logo new-work-week.com
            h2.intro-date
                time(datetime="2018-10-15") 15.
                |&nbsp;&dash;
                time(datetime="2018-10-19") 19. Oktober 2018

            .intro-inauguration
                p.text-uppercase Nürnberg
                p Das Denken ändert sich – das Arbeiten auch. Neue Geschäftsmodelle, Innovationen und Zukunftslösungen bewegen Menschen und Mitarbeiter und verändern so die Gesellschaft. Neues Arbeiten fängt gerade an neue Wege einzuschlagen. Als Partner des Nürnberg Digital Festival 2018 bündeln wir die Themen rund um NEW&nbsp;WORK und bieten mit tollen Gastgebern Content geladene Events mit Food, Drinks & Music - alle kostenfrei!

            nav.intro-nav
                ul
                    li: a(href="")
                        | Über die&nbsp;
                        strong New Work Week
                    li: a(href="")
                        | Zum&nbsp;
                        strong Programm

        nav.logo-nav.margin-top-medium
            .wrapper.margin
                ul.reset
                    li(data-href="http://", data-background="images/logo-humanfy.png") Humanify
                    li(data-href="http://", data-background="images/logo-psd-bank.svg") PSD Bank
                    li(data-href="http://", data-background="images/logo-teambank.png") Teambank
                    li(data-href="http://", data-background="images/logo-exitgames-nurnberg.png") Exitgames
                    li(data-href="http://", data-background="images/logo-fachkraefterekrutieren-de.png") Exitgames
                    li(data-href="http://", data-background="images/logo-sparda-consult.png") Sparda-Consult
        
    main.content
        .wrapper
            section.section
                h2.section-title Was auf der New Work Week passiert
                ._grid
                    ._row-half
                        p Wir schaffen <b>Inspirationsräume</b> und machen den Spagat zwischen „ausgedient“ und „sinnstiftend“ - offen, gemeinsam und per Du. 
                        p Wir bereiten Change und Transformation zum Ereignis und nehmen auch diejenigen mit, die sich jetzt erst mit NEW WORK beschäftigen. Wir verbinden unterschiedliche Perspektiven und vereinfachen mit „start with simplify“ die Komplexität. Wir betrachten was sich wirklich verändert hat und sind startklar in jeder Beziehung für neu geschaffene „grüne Arbeitswelten“. Wir erkunden (draußen) was das Leben spannend macht und schreiben den NEW WORK THRILL „Outsite“ (drinnen). Wir übersetzen agile Regeln von Software zu Brainware in einer einzigartigen Atmosphäre. Wir gestalten eine offene Roadmap und bringen das zusammen, was neu zusammen bringen soll.
                    ._row-half
                        p Täglich vom Montag bis Freitag findet ihr einen neuen Spirit, angenehmes Netzwerken und tolle Umgebungen, die unsere Gastgeber und Co-Initiatoren möglich machen.
                        p
                            | Wir bedanken uns bei den Gastgebern:<br>
                            | humanfy | think tank, PSD Bank, ExitGames Nürnberg, TeamBank, Fachkräfterekrutieren(.)de, Sparda Consult.
                        p Ich freue mich gemeinsam mit meinen Co-Initiatoren: Möbelkollektiv, Design Offices, Flixbus, Soulfood, Lauschner Medientechnik udn wünschedesign auf eine content-geladene Woche vom 15. bis 19. Oktober 2018 und lade (so Plätze verfügbar sind) alle herzlich ein.
                        p
                            | Euer<br>
                            | Arthur

            section.section
                h2.section-title Programm
                p Ab sofort können Sie sich zu den Veranstaltungen anmelden. Bitte beachten Sie, dass auf Grund der Räumlichkeiten die Teilnehmerzahl begrenzt ist.

            section#events
                ul.reset
                    li(v-for="(event, e_id) in events").eventbox._grid
                        ._row-half
                            .event-info
                                time(:datetime="event.date").event-info-date
                                    span.event-info-date--day {{ event.starts | dddd }}
                                    span.event-info-date--date {{ event.starts | ll }}
                                    span.event-info-date--time {{ event.starts | LT }} &ndash; {{ event.ends | LT }} Uhr
                                address.event-info-location
                                    span.event-info-location--location {{ event.location }}
                                    ul.event-info-location--address
                                        li(v-for="(locItem, l_id) in event.address") {{ locItem }}
                                a(:href="event.link").event-info-link Kostenfreies <b>Ticket</b>
                        ._row-half
                            .event-description
                                h3.event-description-title
                                    span.strong-font(v-if="event.title[0]") {{ event.title[0] }}
                                    span(v-if="event.title[1]")
                                        br
                                        | {{ event.title[1] }}
                                p(v-for="(p, p_id) in event.text") {{ p }}
            
            p.margin-xlarge
                strong Kontakt<br>
                | Arthur P. Soballa<br>
                | c/o Möbelkollektiv GmbH | Wiesentalstraße 40 | Bauteil C | 90419 Nürnberg<br>
                | mobile +49 172 277 91 21 | www.new-work-week.com | info@new-work-week.com

            .text-center.margin-bottom-medium
                img(src="images/logo-ndf-partner-white.svg", alt="NDF", style="width:300px;")



    footer#footer
        .wrapper
            include -logo-nav-bottom

            p.text-center
                a(href="") Impressum
                span &nbsp;|&nbsp;
                a(href="") Datenschutz